<?xml version="1.0" encoding="utf-8"?>
<ServerSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <PortNumber>50815</PortNumber>
  <TransferFolderPath>C:\Users\aaronluna\source\repos\tpl-sockets\ServerConsole\transfer</TransferFolderPath>
  <SocketSettings>
    <MaxNumberOfConections>5</MaxNumberOfConections>
    <BufferSize>8192</BufferSize>
    <ConnectTimeoutMs>5000</ConnectTimeoutMs>
    <SendTimeoutMs>5000</SendTimeoutMs>
    <ReceiveTimeoutMs>5000</ReceiveTimeoutMs>
  </SocketSettings>
  <RemoteServers>
    <ServerInfo>
      <LocalIpAddress>192.168.2.2</LocalIpAddress>
      <PublicIpAddress>71.94.90.29</PublicIpAddress>
      <Port>50815</Port>
      <TransferFolder>/Users/aaronluna/Projects/tpl-sockets/ServerConsole/bin/Debug/netcoreapp2.0/transfer</TransferFolder>
    </ServerInfo>
  </RemoteServers>
</ServerSettings>